<div class="home-li-content">
	<div class="row-fluid">
		<div class="span3">
			<%= image_tag fb_prof_image(current_user) %>
			<br>
			<strong><%= current_user.name %></strong><br>
			<%= current_user.company %><br>
		</div>

		<div class="span9">
			<div class="well">
				<div class="starred-roommate-matches">
					<h2> Starred Roommate Matches </h2>
					<div class="matches-container">
						<div class="starred-matches-carousel-container">
						  <%= render partial: 'people/matches_carousel', locals: {matches: @starred_matches, matchees: @starred_matchees, carousel_name: 'starred-matches'}%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>