<div class="home-not-li-content">
  <i class="icon icon-globe large-globe"></i>

  <div class="page-header">
    <h1>Have an internship? Don't know where to start? <small>We've got you covered.</small> </h1>
  </div>

  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail-image">
        <img src="http://placehold.it/400x200" />
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail-image">
        <img src="http://placehold.it/400x200" />
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail-image">
        <img src="http://placehold.it/400x200" />
      </div>
    </li>
  </ul>
  <div class= "row-fluid marketing">
    <div class="span4">
      <h4> Find Housing </h4>
      <p> Find your summer housing, with less hassle than ever. No multiple-site running lists of your favorite places. Keep it all in one place, and make collaborative lists with your roommates. </p>
    </div>
    <div class="span4">
      <h4> Find Roommates </h4>
      <p> No roommates? No problem. With a combination of a quick compatability survey and Facebook integration, you can easily connect with people you'd be excited to spend a summer with. </p>
    </div>
    <div class="span4">
      <h4> Manage it All </h4>
      <p> Manage the pesky everyday tasks associated with group living all in one place. Internopolis frees up your time to spend on the important things, like playing foosball and making the most of that free company food.</p>
  </div>
</div>