<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <style>
      /* No content under the fixed bootstrap header. */
      body {
        padding-top: 0px;
      }
    </style>  
    <link href="../assets/stylesheets/main.css.less" media="screen" rel="stylesheet" type="text/css" />

    <title>@home_not_li</title>
  </head>
  
  <body>

      <div class="page-header">
        <h1>Have an internship? Don't know where to start? <small>We've got you covered.</small> </h1>
      </div>

      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img class="image" src="http://placehold.it/400x200">
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img class="image-1" src="http://placehold.it/400x200">
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img class="image-2" src="http://placehold.it/400x200">
          </div>
        </li>
      </ul>

      <div class="dom-body-text dom-body-text-1">
        <p class="p-1">Find and manage your summer housing, roommates, and other pesky things like utilities,
          all in one place. It's easy, it's social, and it will free up your time to spend
          doing the important things, like playing foosball and making the most of that free
          company food, not managing your apartment. Sign up with Facebook to get started!</p>
      </div>
      <div class="dom-body-text dom-body-text-2">
        <p class="p-1">I'm want to live in:&nbsp;</p>
      </div>
      <select class="select-1">
        <option value="San Francisco">San Francisco</option>
        <option value="New York">New York</option>
        <option value="Boston">Boston</option>
      </select>
      <div class="dom-body-text dom-body-text-3">
        <p class="p-1">(Optional) I'm interning at:</p>
      </div>
      <select class="select-2">
        <option value="Square">Square</option>
        <option value="Twitter">Twitter</option>
        <option value="Facebook">Facebook</option>
      </select>
      <button class="btn"> <i class="icon icon-facebook-sign"></i>  <b>Login with Facebook</b>
      </button>
<i class="icon icon-twitter icon-2"></i>

<i class="icon icon-facebook icon-3"></i>

      <i
      class="icon icon-pinterest icon-4"></i>
    </div>
  </body>

</html>