<div class="row">
  <ul class="pager">
    <li class="previous span2" style="height:100%;">
      <a href="#">&larr; Prev</a>
    </li>
  <% @matchees.each do |person| %>
    <li class="span2 match-card-container" data-matchee-id="<%= person.id %>">
      <%= render partial: "match_card", locals: {person: person} %>
    </li>
  <% end %>
    <li class="next span2">
      <a href="#">Next &rarr;</a>
    </li>
  </ul>
</div>