<div class="matches-carousel">
  <div class="row-fluid">
    <ul class="pager">
      <li class="span2">
        <a href="#">&larr; Prev</a>
      </li>
    <% matchees.zip(matches).each do |matchee, match| %>
      <li class="span2 match-card-container" data-matchee-id="<%= matchee.id %>">
        <%= render partial: "people/match_card", locals: {matchee: matchee, match: match} %>
      </li>
    <% end %>

      <li class="span2">
        <a href="#">Next &rarr;</a>
      </li>
    </ul>
  </div>
</div>