<div class="row">
  <ul class="pager">
    <li class="previous span2" style="height:100%;">
      <%= link_to_previous_page @matches, "Prev", class: "pagination-prev", remote: true %>
    </li>

  <% matchees.zip(matches).each do |matchee, match| %>
    <li class="span2 match-card-container" data-matchee-id="<%= matchee.id %>">
      <%= render partial: "people/match_card", locals: {matchee: matchee, match: match} %>
    </li>
  <% end %>

    <li class="next span2">
      <%= link_to_next_page @matches, "Next", class: "pagination-next", remote: true %>
    </li>
  </ul>
</div>