// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.survey-questions{

	.profpic{
		text-align: right;
	}

	.find-roommates{	
		margin-left: 380px;		
	}

	.questionair {
		float: left;
	}

	.control-label{
		width:100px;
	}

	.controls{
		margin-left: 120px;
	}
}